@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h1>Add Repair Engineer For @Html.DisplayFor(model => model.ProductModel)</h1>
<hr />

<h4>Available Repair Engineers:</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @if (@ViewBag.EngineerList.Count == 0)
  {
    <p>No Engineers Available</p>
  }
  else
  {
    <ul>
  @foreach (Engineer engineer in ViewBag.EngineerList)
      {
        <li>
          <input type="checkbox" name="engineerIds" value="@engineer.EngineerId" />
          @engineer.LastName, @engineer.FirstName
        </li>
      }
    </ul>
  }
  <input type="submit" value="Save" />
}