@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add Machine</h1>

<div>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Manufacturer)
    @Html.TextBoxFor(model => model.Manufacturer)
    <br>
    @Html.LabelFor(model => model.ProductModel)
    @Html.TextBoxFor(model => model.ProductModel)
    <br>
    @Html.LabelFor(model => model.CompanyEmail)
    @Html.TextBoxFor(model => model.CompanyEmail)
    <br>
    @Html.LabelFor(model => model.CompanyPhoneNumber)
    @Html.TextBoxFor(model => model.CompanyPhoneNumber)
    <br>
    @Html.LabelFor(model => model.CompanyAddress)
    @Html.TextBoxFor(model => model.CompanyAddress)
    <br>
    @Html.LabelFor(model => model.CompanyWebsite)
    @Html.TextBoxFor(model => model.CompanyWebsite)
    <br>

    <input type="submit" value="Add" />
  }
</div>