@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>@Html.DisplayFor(model => model.ProductModel)</h1>

<div class="container page-content">
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.Manufacturer):</p>
    <p class="col">@Html.DisplayFor(model => model.Manufacturer)</p>
  </div>
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.CompanyWebsite):</p>
    <p class="col">@Html.DisplayFor(model => model.CompanyWebsite)</p>
  </div>
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.CompanyEmail):</p>
    <p class="col">@Html.DisplayFor(model => model.CompanyEmail)</p>
  </div>
  <div class="row">    
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.CompanyPhoneNumber):</p>
    <p class="col">@Html.DisplayFor(model => model.CompanyPhoneNumber)</p>
  </div>
  <div class="row"> 
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.CompanyAddress):</p>
    <p class="col">@Html.DisplayFor(model => model.CompanyAddress)</p>
  </div>
  <br>

  <h4>Machine Repair Certifications:</h4>
  @if (@Model.EngineerMachineJoinEntities.Count == 0)
  {
    <h5>None Added</h5>
  }
  else
  {
    <ul>
    @foreach (var join in Model.EngineerMachineJoinEntities)
      {
        <li>
          @Html.ActionLink($"{join.Engineer.LastName}, {join.Engineer.FirstName}", "Details", "Engineers", new { id = join.Engineer.EngineerId })
        </li>
      }
    </ul>
  }
</div>

<div class="text-center m-5">
  @Html.ActionLink("Add Repair Engineer", "AddRepairEngineer", new { id = Model.MachineId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
  @Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
  @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
</div>