@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Edit @Html.DisplayFor(model => model.ProductModel)</h1>

<div class="container page-content">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    <div class="form-group form-inline">
      @Html.LabelFor(model => model.Manufacturer, new{@class = "col-sm-4 col-form-label"})
      @Html.TextBoxFor(model => model.Manufacturer, new {@class = "form-control", required="required"})
    </div>
    <div class="form-group form-inline">
      @Html.LabelFor(model => model.ProductModel, new{@class = "col-sm-4 col-form-label"})
      @Html.TextBoxFor(model => model.ProductModel, new {@class = "form-control", required="required"})
    </div>
    <div class="form-group form-inline">
      @Html.LabelFor(model => model.CompanyEmail, new{@class = "col-sm-4 col-form-label"})
      @Html.TextBoxFor(model => model.CompanyEmail, new {@class = "form-control", required="required"})
    </div>
    <div class="form-group form-inline">
      @Html.LabelFor(model => model.CompanyPhoneNumber, new{@class = "col-sm-4 col-form-label"})
      @Html.TextBoxFor(model => model.CompanyPhoneNumber, new {@class = "form-control", required="required"})
    </div>
    <div class="form-group form-inline">
      @Html.LabelFor(model => model.CompanyAddress, new{@class = "col-sm-4 col-form-label"})
      @Html.TextBoxFor(model => model.CompanyAddress, new {@class = "form-control", required="required"})
    </div>
    <div class="form-group form-inline">
      @Html.LabelFor(model => model.CompanyWebsite, new{@class = "col-sm-4 col-form-label"})
      @Html.TextBoxFor(model => model.CompanyWebsite, new {@class = "form-control", required="required"})
    </div>

    <h4>Certified Repair Engineers:</h4>
    @if (@Model.EngineerMachineJoinEntities.Count == 0)
    {
      <p>No Certified Engineers Added</p>
    }
    else
    {
      <ul>
        <p class="text-danger">Delete?</p>
        @foreach (var join in Model.EngineerMachineJoinEntities)
        {
          <li>
            <input type="checkbox" name="engineerIds" value="@join.Engineer.EngineerId" />
            @join.Engineer.LastName, @join.Engineer.FirstName
          </li>
        }
      </ul>
    }

    <div class="text-center">
      <input type="submit" value="Save" class="btn btn-primary btn-lg" />
    </div>
  }
</div>