<div class="text-center m-5" id="footer">
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Engineers", "Index", "Engineers", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Engineer", "Create", "Engineers", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Machines", "Index", "Machines", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Machine", "Create", "Machines", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
</div>