@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add Engineer</h1>

<div>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
    <br>
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    <br>
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    <br>
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber)
    <br>
    @Html.LabelFor(model => model.Address)
    @Html.TextBoxFor(model => model.Address)
    <br>
    @Html.LabelFor(model => model.HireDate)
    @Html.TextBoxFor(model => model.HireDate, new { type="date" })
    <br>

    <input type="submit" value="Add" />
  }
</div>

<div class="text-center m-5">
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Engineers", "Index", "Engineers", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Engineer", "Create", "Engineers", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Machines", "Index", "Machines", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Machine", "Create", "Machines", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
</div>