@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

<div class="container page-content">
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.HireDate):</p>
    <p class="col">@Html.DisplayFor(model => model.HireDate)</p>
  </div>
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.Email):</p>
    <p class="col">@Html.DisplayFor(model => model.Email)</p>
  </div>
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber):</p>
    <p class="col">@Html.DisplayFor(model => model.PhoneNumber)</p>
  </div>
  <div class="row">
    <p class="col-sm-4">@Html.DisplayNameFor(model => model.Address):</p>
    <p class="col">@Html.DisplayFor(model => model.Address)</p>
  </div>
  <br>

  <p>Machine Repair Certifications:</p>
  @if (@Model.EngineerMachineJoinEntities.Count == 0)
  {
    <h5>None Added</h5>
  }
  else
  {
    <ul>
    @foreach (var join in Model.EngineerMachineJoinEntities)
      {
        <li>
          @Html.ActionLink($"{join.Machine.ProductModel}", "Details", "Machines", new { id = join.Machine.MachineId })
        </li>
      }
    </ul>
  }
</div>

<div class="text-center m-5">
  @Html.ActionLink("Add Certification", "AddMachineCertification", new { id = Model.EngineerId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
  @Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
  @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
</div>